## A McKinsey Data Science Hackathon

## Statement of Problem

“Beeep…Beeeep….Beeeep… Hooomans*, are you there?...”

This very strange transmission is coming from your narrowband radio signal receiver, pointed towards one of the farthest away galaxies. It’s early morning, you are sitting in your radio observatory high in the mountains.

For the last 10 years you’ve been a Chief Data Scientist in one of the best astrophysics research teams in the world. You are enjoying a quiet time with a cup of coffee and reviewing the data reports from last night, when this strange sound arrived. You almost spill your coffee in surprise. “Am I dreaming?” is your first thought as you move closer towards the speaker and listen…

“Beep…Beeeep….Beeeep… To all Hooomans who can hear us – we need your help”

You lean closer and grab a notebook and a pencil – you don’t really trust computers when it comes to such important tasks as taking notes from a radio transmission. You start recording everything that the strange voice from light years away is saying.

“… We need serious Data Science help and we know you Hooomans are the best at it…. We are an intergalactic species which have almost achieved singularity and the highest possible levels of development. We travel fast through space and explore other galaxies”

“The only essence that we consume is energy, measured in DSML units…Our populace is widespread and we live across many different star clusters and galaxies. What we need now is to optimize our well-being across all those galaxies… We have a lot of data but our сomputers and methods are too weak – we urgently need your data science knowledge to help us”

“Only two steps prevent us from achieving singularity

· To understand what makes us better off.

Our elders used the composite index to measure our well-being performance, but this knowledge has disappeared in the sands of time.

Use our data and train your model to predict this index with the highest possible level of certainty.

· To achieve the highest possible level of well-being through optimized allocation of additional energy

We have discovered the star of an unusually high energy of 50000 zillion DSML.

We have agreed between ourselves that 

· no one galaxy will consume more than 100 zillion DSML 

and 

· at least 10% of the total energy will be consumed by galaxies in need with existence expectancy index below 0,7.

Think of our galaxies as your “countries” (or how you call them??) and our population as citizens. We have similar healthcare and wellbeing characteristic as you, Hooomans”

“We are sending all the data to you right now. Let the data be with you, Hoomans… … …”

Transmission suddenly ends. You put your notebook and pencil away and start thinking. You really want to help this species optimize their well-being. You open up Python and upload the dataset from the narrowband radio signal receiver. It will be another great day at the observatory today.

————

probably intergalactic species meant to say “humans” here but we will never know for sure

Description Data Recieved
The solutions are evaluated on two criteria: predicted future Index values and allocated energy from a newly discovered star

1. Index predictions are evaluated using RMSE metric

2. Energy allocation is also evaluated using RMSE metric and has a set of known factors that need to be taken into account.

Every galaxy has a certain limited potential for improvement in the index described by the following function:

Potential for increase in the Index = -np.log(Index+0.01)+3

Likely index increase dependent on potential for improvement and on extra energy availability is described by the following function:

Likely increase in the Index = extra energy * Potential for increase in the Index **2 / 1000

There are also several constraints:

in total there are 50000 zillion DSML available for allocation and no galaxy at a point in time should be allocated more than 100 zillion DSML or less than 0 zillion DSML. Galaxies with low existence expectancy index below 0.7 should be allocated at least 10% of the total energy available in the foreseeable future

3. Leaderboard is based on a combined scaled metric:

80% prediction task RMSE + 20% optimization task RMSE * lambda where lambda is a normalizing factor

4. Leaderboard is 80% public and 20% private

5. The submission should be in the following format:

Variable
Index
pred
opt_pred

Description
Index: Unique index from the test dataset in the ascending order
pred: Prediction for the index on interest
opt_pred: Optimal energy allocation

## 1. Let's import pandas and numpy.

In [1]:
import numpy as np
import pandas as pd

## 2. Loading the datasets.

In [2]:
data_train = pd.read_csv('./Documents/prohack_dataset/train.csv') #train data
data_test = pd.read_csv('./Documents/prohack_dataset/test.csv') #test data
data_labels = data_train.pop('y') #selecting 'y' column from the train data to use as label
#galaxy_names = data_train.pop('galaxy')

In [3]:
data_train.head()

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN

In [4]:
data_test.head()

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,1007012,KK98 77,0.456086,51.562543,12236.576447,0.593325,10.414164,10.699072,0.547114,0.556267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1007012,Reticulum III,0.529835,57.228262,3431.883825,0.675407,7.239485,5.311122,0.497688,0.409969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1008016,Reticulum III,0.560976,59.379539,27562.914252,0.594624,11.774890,5.937797,0.544744,0.486167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1007012,Segue 1,0.565910,59.952390,20352.232905,0.837700,11.613621,10.067882,0.691641,0.523441,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1013042,Virgo I,0.588274,55.428320,23959.704016,0.520579,10.392416,6.374637,0.530676,0.580418,...,7.357729,0.583373,0.600445,0.856158,206.674424,224.104054,NaN,7.687626,NaN,NaN

## 3. Let's check the shape of the training and testing data, and have a view of the columns datatypes and names.

In [5]:
print(data_train.shape)
print(data_test.shape)

(3865, 79)
(890, 79)

In [6]:
dict(data_train.dtypes)

{'galactic year': dtype('int64'),
 'galaxy': dtype('O'),
 'existence expectancy index': dtype('float64'),
 'existence expectancy at birth': dtype('float64'),
 'Gross income per capita': dtype('float64'),
 'Income Index': dtype('float64'),
 'Expected years of education (galactic years)': dtype('float64'),
 'Mean years of education (galactic years)': dtype('float64'),
 'Intergalactic Development Index (IDI)': dtype('float64'),
 'Education Index': dtype('float64'),
 'Intergalactic Development Index (IDI), Rank': dtype('float64'),
 'Population using at least basic drinking-water services (%)': dtype('float64'),
 'Population using at least basic sanitation services (%)': dtype('float64'),
 'Gross capital formation (% of GGP)': dtype('float64'),
 'Population, total (millions)': dtype('float64'),
 'Population, urban (%)': dtype('float64'),
 'Mortality rate, under-five (per 1,000 live births)': dtype('float64'),
 'Mortality rate, infant (per 1,000 live births)': dtype('float64'),
 'Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))': dtype('float64'),
 'Population, ages 15–64 (millions)': dtype('float64'),
 'Population, ages 65 and older (millions)': dtype('float64'),
 'Life expectancy at birth, male (galactic years)': dtype('float64'),
 'Life expectancy at birth, female (galactic years)': dtype('float64'),
 'Population, under age 5 (millions)': dtype('float64'),
 'Young age (0-14) dependency ratio (per 100 creatures ages 15-64)': dtype('float64'),
 'Adolescent birth rate (births per 1,000 female creatures ages 15-19)': dtype('float64'),
 'Total unemployment rate (female to male ratio)': dtype('float64'),
 'Vulnerable employment (% of total employment)': dtype('float64'),
 'Unemployment, total (% of labour force)': dtype('float64'),
 'Employment in agriculture (% of total employment)': dtype('float64'),
 'Labour force participation rate (% ages 15 and older)': dtype('float64'),
 'Labour force participation rate (% ages 15 and older), female': dtype('float64'),
 'Employment in services (% of total employment)': dtype('float64'),
 'Labour force participation rate (% ages 15 and older), male': dtype('float64'),
 'Employment to population ratio (% ages 15 and older)': dtype('float64'),
 'Jungle area (% of total land area)': dtype('float64'),
 'Share of employment in nonagriculture, female (% of total employment in nonagriculture)': dtype('float64'),
 'Youth unemployment rate (female to male ratio)': dtype('float64'),
 'Unemployment, youth (% ages 15–24)': dtype('float64'),
 'Mortality rate, female grown up (per 1,000 people)': dtype('float64'),
 'Mortality rate, male grown up (per 1,000 people)': dtype('float64'),
 'Infants lacking immunization, red hot disease (% of one-galactic year-olds)': dtype('float64'),
 'Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)': dtype('float64'),
 'Gross galactic product (GGP) per capita': dtype('float64'),
 'Gross galactic product (GGP), total': dtype('float64'),
 'Outer Galaxies direct investment, net inflows (% of GGP)': dtype('float64'),
 'Exports and imports (% of GGP)': dtype('float64'),
 'Share of seats in senate (% held by female)': dtype('float64'),
 'Natural resource depletion': dtype('float64'),
 'Mean years of education, female (galactic years)': dtype('float64'),
 'Mean years of education, male (galactic years)': dtype('float64'),
 'Expected years of education, female (galactic years)': dtype('float64'),
 'Expected years of education, male (galactic years)': dtype('float64'),
 'Maternal mortality ratio (deaths per 100,000 live births)': dtype('float64'),
 'Renewable energy consumption (% of total final energy consumption)': dtype('float64'),
 'Estimated gross galactic income per capita, male': dtype('float64'),
 'Estimated gross galactic income per capita, female': dtype('float64'),
 'Rural population with access to electricity (%)': dtype('float64'),
 'Domestic credit provided by financial sector (% of GGP)': dtype('float64'),
 'Population with at least some secondary education, female (% ages 25 and older)': dtype('float64'),
 'Population with at least some secondary education, male (% ages 25 and older)': dtype('float64'),
 'Gross fixed capital formation (% of GGP)': dtype('float64'),
 'Remittances, inflows (% of GGP)': dtype('float64'),
 'Population with at least some secondary education (% ages 25 and older)': dtype('float64'),
 'Intergalactic inbound tourists (thousands)': dtype('float64'),
 'Gross enrolment ratio, primary (% of primary under-age population)': dtype('float64'),
 'Respiratory disease incidence (per 100,000 people)': dtype('float64'),
 'Interstellar phone subscriptions (per 100 people)': dtype('float64'),
 'Interstellar Data Net users, total (% of population)': dtype('float64'),
 'Current health expenditure (% of GGP)': dtype('float64'),
 'Intergalactic Development Index (IDI), female': dtype('float64'),
 'Intergalactic Development Index (IDI), male': dtype('float64'),
 'Gender Development Index (GDI)': dtype('float64'),
 'Intergalactic Development Index (IDI), female, Rank': dtype('float64'),
 'Intergalactic Development Index (IDI), male, Rank': dtype('float64'),
 'Adjusted net savings ': dtype('float64'),
 'Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total': dtype('float64'),
 'Private galaxy capital flows (% of GGP)': dtype('float64'),
 'Gender Inequality Index (GII)': dtype('float64')}

## 4. Let's see columns that doesn't contain null values. They are likely key features.

In [7]:
print(list(data_train.columns[data_train.isna().sum() == 0])) #prints columns with no null values
dict(data_train.isna().sum()) # a look at total null values in each column

['galactic year', 'galaxy']

{'galactic year': 0,
 'galaxy': 0,
 'existence expectancy index': 1,
 'existence expectancy at birth': 1,
 'Gross income per capita': 28,
 'Income Index': 28,
 'Expected years of education (galactic years)': 133,
 'Mean years of education (galactic years)': 363,
 'Intergalactic Development Index (IDI)': 391,
 'Education Index': 391,
 'Intergalactic Development Index (IDI), Rank': 433,
 'Population using at least basic drinking-water services (%)': 1844,
 'Population using at least basic sanitation services (%)': 1850,
 'Gross capital formation (% of GGP)': 2363,
 'Population, total (millions)': 2594,
 'Population, urban (%)': 2594,
 'Mortality rate, under-five (per 1,000 live births)': 2594,
 'Mortality rate, infant (per 1,000 live births)': 2606,
 'Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))': 2601,
 'Population, ages 15–64 (millions)': 2601,
 'Population, ages 65 and older (millions)': 2601,
 'Life expectancy at birth, male (galactic years)': 2601,
 'Life expectancy at birth, female (galactic years)': 2601,
 'Population, under age 5 (millions)': 2601,
 'Young age (0-14) dependency ratio (per 100 creatures ages 15-64)': 2601,
 'Adolescent birth rate (births per 1,000 female creatures ages 15-19)': 2613,
 'Total unemployment rate (female to male ratio)': 2628,
 'Vulnerable employment (% of total employment)': 2628,
 'Unemployment, total (% of labour force)': 2628,
 'Employment in agriculture (% of total employment)': 2628,
 'Labour force participation rate (% ages 15 and older)': 2628,
 'Labour force participation rate (% ages 15 and older), female': 2628,
 'Employment in services (% of total employment)': 2628,
 'Labour force participation rate (% ages 15 and older), male': 2628,
 'Employment to population ratio (% ages 15 and older)': 2628,
 'Jungle area (% of total land area)': 2631,
 'Share of employment in nonagriculture, female (% of total employment in nonagriculture)': 2628,
 'Youth unemployment rate (female to male ratio)': 2629,
 'Unemployment, youth (% ages 15–24)': 2629,
 'Mortality rate, female grown up (per 1,000 people)': 2612,
 'Mortality rate, male grown up (per 1,000 people)': 2612,
 'Infants lacking immunization, red hot disease (% of one-galactic year-olds)': 2646,
 'Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)': 2646,
 'Gross galactic product (GGP) per capita': 2663,
 'Gross galactic product (GGP), total': 2663,
 'Outer Galaxies direct investment, net inflows (% of GGP)': 2696,
 'Exports and imports (% of GGP)': 2721,
 'Share of seats in senate (% held by female)': 2742,
 'Natural resource depletion': 2733,
 'Mean years of education, female (galactic years)': 2725,
 'Mean years of education, male (galactic years)': 2727,
 'Expected years of education, female (galactic years)': 2756,
 'Expected years of education, male (galactic years)': 2757,
 'Maternal mortality ratio (deaths per 100,000 live births)': 2613,
 'Renewable energy consumption (% of total final energy consumption)': 2630,
 'Estimated gross galactic income per capita, male': 2810,
 'Estimated gross galactic income per capita, female': 2810,
 'Rural population with access to electricity (%)': 2836,
 'Domestic credit provided by financial sector (% of GGP)': 2786,
 'Population with at least some secondary education, female (% ages 25 and older)': 2776,
 'Population with at least some secondary education, male (% ages 25 and older)': 2778,
 'Gross fixed capital formation (% of GGP)': 2791,
 'Remittances, inflows (% of GGP)': 2837,
 'Population with at least some secondary education (% ages 25 and older)': 2814,
 'Intergalactic inbound tourists (thousands)': 2870,
 'Gross enrolment ratio, primary (% of primary under-age population)': 2827,
 'Respiratory disease incidence (per 100,000 people)': 2969,
 'Interstellar phone subscriptions (per 100 people)': 2974,
 'Interstellar Data Net users, total (% of population)': 2993,
 'Current health expenditure (% of GGP)': 2998,
 'Intergalactic Development Index (IDI), female': 2949,
 'Intergalactic Development Index (IDI), male': 2950,
 'Gender Development Index (GDI)': 2951,
 'Intergalactic Development Index (IDI), female, Rank': 2972,
 'Intergalactic Development Index (IDI), male, Rank': 2973,
 'Adjusted net savings ': 2953,
 'Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total': 2924,
 'Private galaxy capital flows (% of GGP)': 2991,
 'Gender Inequality Index (GII)': 3021}

## 5. Let's check the columns that when recorded have unique value for each observation. Probably, they are highly important features.

In [8]:
[i for i in data_train.columns if len(data_train[i].unique()) == data_train.shape[0]]

['existence expectancy index', 'existence expectancy at birth']

## 6. Let's check the number of unique galaxy and galactic year in the training and testing data.

In [9]:
print(len(data_train['galaxy'].unique()))
print(len(data_train['galactic year'].unique()))
print(len(data_test['galaxy'].unique()))
print(len(data_test['galactic year'].unique()))

181
26
172
10

## 7. Let's check if indeed for every galaxy in the training data, there is one unique galactic year per observation.

#### First, let's define a function that will group a dataset by a column_key and return a dictionary of column_key/dataframe pair.

In [10]:
def get_grouped_df(data, key):
    groups = data.groupby(key)
    dict_grp = {k: v for k, v in groups}
    return dict_grp

In [11]:
group1 = get_grouped_df(data_train, 'galaxy')
group1['Virgo I'].head()
#let's have a view of how each galaxy's mini dataframe looks like

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,NaN,21.151265,6.53402,NaN,NaN
309,991020,Virgo I,0.555338,58.867426,24763.531222,0.463406,7.536744,2.763276,0.502295,0.342069,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,992016,Virgo I,0.554174,60.551216,11439.589593,0.524210,7.485369,5.545963,0.430654,0.390630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,993012,Virgo I,0.612921,62.918772,24467.082523,0.481154,7.357494,5.868132,0.489407,0.348280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,994009,Virgo I,0.630974,50.942282,19221.268239,0.506944,7.312539,6.109797,0.412421,0.377290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
years_per_galaxy  = [len(group1[i]['galactic year']) 
                     for i in group1.keys()] #stores the number of galactic years per galaxy as a list

unique_years_per_galaxy  = [len(group1[i]['galactic year'].unique()) 
                            for i in group1.keys()] 
                            #stores the number of unique galactic years per galaxy as a list

In [13]:
unique_years_per_galaxy == years_per_galaxy #checks for equality

True

## 8. Similar to step 7 above, let's check if indeed for every galactic year in the training data, there is one unique galaxy per observation.

In [14]:
group2 = get_grouped_df(data_train, 'galactic year')

galaxies_per_year  = [len(group2[i]['galaxy']) for i in group2.keys()]
unique_galaxies_per_year  = [len(group2[i]['galaxy'].unique()) for i in group2.keys()]

In [15]:
galaxies_per_year == unique_galaxies_per_year

True

## 9. let's repeat steps 7 and 8  but this time with the testing data.

In [16]:
# similar to step 7
group3 =  get_grouped_df(data_test, 'galaxy')

years_per_galaxy_test  = [len(group3[i]['galactic year']) for i in group3.keys()]
unique_years_per_galaxy_test  = [len(group3[i]['galactic year'].unique()) for i in group3.keys()]

unique_years_per_galaxy_test == years_per_galaxy_test

True

In [17]:
# similar to step 8
group4 = get_grouped_df(data_test, 'galactic year')

galaxies_per_year_test  = [len(group4[i]['galaxy']) for i in group4.keys()]
unique_galaxies_per_year_test  = [len(group4[i]['galaxy'].unique()) for i in group4.keys()]

galaxies_per_year_test == unique_galaxies_per_year_test

True

## 10. Let's check the relationship between sampling of galactic years in the training and the testing data.

In [18]:
unique_gal_years_train = set(data_train['galactic year']) #unique galactic years in the training data
unique_gal_years_test = set(data_test['galactic year']) #unique galactic years in the testing data

print(sorted(list(unique_gal_years_train)), len(unique_gal_years_train))
print()
print(sorted(list(unique_gal_years_test)), len(unique_gal_years_test))

[990025, 991020, 992016, 993012, 994009, 995006, 996004, 997002, 998001, 999000, 1000000, 1001000, 1002001, 1003002, 1004004, 1005006, 1006009, 1007012, 1008016, 1009020, 1010025, 1011030, 1012036, 1013042, 1014049, 1015056] 26

[1007012, 1008016, 1009020, 1010025, 1011030, 1012036, 1013042, 1014049, 1015056, 1016064] 10

In [19]:
common_gal_years = unique_gal_years_train & unique_gal_years_test
print(common_gal_years, len(common_gal_years))
#checks for common galactic years between training and testing data.

{1014049, 1007012, 1012036, 1010025, 1008016, 1015056, 1013042, 1011030, 1009020} 9

#### It seems 9 of the 10 galactic years in the testing data are sampled in the training data.

#### Let's check the elapsed galactic year between two successive galactic years in the training data.

In [20]:
 print([sorted(list(unique_gal_years_train))[i+1] - sorted(list(unique_gal_years_train))[i] 
  for i in range(len(unique_gal_years_train) - 1)])

[995, 996, 996, 997, 997, 998, 998, 999, 999, 1000, 1000, 1001, 1001, 1002, 1002, 1003, 1003, 1004, 1004, 1005, 1005, 1006, 1006, 1007, 1007]

#### It seems the first observations in the training data were sampled after 995 galactic years. Subsequent elapsed galactic years of sampling was increase by one after two samplings.

## 11. Let's import useful libraries.

In [21]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder, PolynomialFeatures
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn import tree
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.base import BaseEstimator, RegressorMixin, TransformerMixin
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error as mse
from scipy.optimize import minimize, Bounds, LinearConstraint
import math
import warnings
warnings.filterwarnings('ignore')

In [22]:
X_train, X_test, y_train, y_test = train_test_split(data_train, data_labels, test_size=0.2, random_state=0)

In [23]:
#ran_f = RandomForestRegressor(random_state=0)

In [24]:
#grid = GridSearchCV(ran_f, {'n_estimators': range(10, 110, 10)}, cv=5, n_jobs=2, verbose=1)

In [25]:
#model_pipe = Pipeline([('imp', SimpleImputer(strategy='median')), ('scaler', StandardScaler()), 
                       #('pca', PCA(n_components=10)), 
                       #('grid', grid)])

In [26]:
pipe_trans = Pipeline([('imp', SimpleImputer(strategy='median')), ('scaler', StandardScaler()),
                       ('pca', PCA(n_components=12))])
Xt = pipe_trans.fit_transform(data_train.copy().drop('galaxy', axis=1))

In [27]:
np.cumsum(pipe_trans.named_steps['pca'].explained_variance_ratio_)

array([0.31074724, 0.37499671, 0.43157048, 0.48547347, 0.53080894,
       0.56969754, 0.60237499, 0.62812233, 0.65214917, 0.67294766,
       0.69210713, 0.7103287 ])

In [28]:
Xt = pd.DataFrame(Xt)
Xt['y'] = data_labels
Xt.to_csv('./Documents/prohack_dataset/pca_analysis.csv')

In [29]:
class ColumnSelect(BaseEstimator, TransformerMixin):
    def __init__(self, column):
        self.column = column
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        Xt = X.copy()
        return Xt[self.column]

In [30]:
class ColumnDrop(BaseEstimator, TransformerMixin):
    def __init__(self, column):
        self.column = column
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        Xt = X.copy()
        return Xt.drop(self.column, axis=1)

In [31]:
one_hot = OneHotEncoder(sparse=False)

In [32]:
class OneHot(BaseEstimator, TransformerMixin):
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        Xt = X.copy()
        return one_hot.fit_transform(np.array(Xt).reshape(-1, 1))

In [33]:
print(X_train.shape)
print(X_test.shape)

(3092, 79)
(773, 79)

In [34]:
class SplitSelectData(BaseEstimator, TransformerMixin):
    def __init__(self, start=0, end=3865):
        self.start = start
        self.end = end
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        self.train_data = X[self.start: self.end]
        self.test_data = X[self.end:]
        return self.train_data

In [35]:
data_split = SplitSelectData(end=3092)

In [36]:
test_train_data = pd.concat([X_train.copy(), X_test.copy()])
galaxy_name_features = Pipeline([('column_select', ColumnSelect('galaxy')), ('one_hot', OneHot()), ('train', data_split)])

test_train_data = galaxy_name_features.fit_transform(test_train_data)

In [37]:
enc_train = galaxy_name_features.named_steps['train'].train_data
enc_test = galaxy_name_features.named_steps['train'].test_data

In [38]:
galaxy_name_model = Ridge() 
galaxy_name_model.fit(enc_train, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [39]:
y_pred1 = galaxy_name_model.predict(enc_test)

In [40]:
statistical_features_model = Pipeline([('drop_test', data_split), ('drop_galaxy', ColumnDrop('galaxy')), 
                                 ('imp', SimpleImputer(strategy='median')), ('scaler', StandardScaler()),
                                 ('ran_f', tree.DecisionTreeRegressor())])

In [41]:
statistical_features_model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('drop_test', SplitSelectData(end=3092, start=0)),
                ('drop_galaxy', ColumnDrop(column='galaxy')),
                ('imp',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='median',
                               verbose=0)),
                ('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('ran_f',
                 DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse',
                                       max_depth=None, max_features=None,
                                       max_leaf_nodes=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       presort='deprecated', random_state=None,
                                       splitter='best'))],
         verbose=False)

In [42]:
y_pred2 = statistical_features_model.predict(X_test)

In [43]:
mse(y_test, y_pred1, squared=False)

0.02664000311927877

In [44]:
mse(y_test, y_pred2, squared=False)

0.04467710580182285

In [45]:
class EstTransformer1(BaseEstimator, TransformerMixin):
    def __init__(self, enc_train, enc_test, model):
        self.train_data = enc_train
        self.test_data = enc_test
        self.model = model
        
    def fit(self, X, y):
        self.model.fit(self.train_data, y)
        return self
    
    def transform(self, X):
        if len(X) == len(self.train_data):
            return self.model.predict(self.train_data).reshape(-1, 1)
        return self.model.predict(self.test_data).reshape(-1, 1)

In [46]:
class EstTransformer2(BaseEstimator, TransformerMixin):
    def __init__(self, model):
        self.model =model
        
    def fit(self, X, y):
        Xt = X.copy()
        yt = y.copy()
        self.model.fit(Xt, yt)
        return self
    
    def transform(self, X):
        Xt = X.copy()
        return self.model.predict(Xt).reshape(-1, 1)

In [47]:
est1 = EstTransformer1(enc_train, enc_test, Ridge())
est2 = EstTransformer2(statistical_features_model)

In [48]:
union = FeatureUnion([('est1', est1), ('est2', est2)])

In [49]:
blend_model = Pipeline([('union', union), ('model', LinearRegression(fit_intercept=False))])

blend_model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('union',
                 FeatureUnion(n_jobs=None,
                              transformer_list=[('est1',
                                                 EstTransformer1(enc_test=None,
                                                                 enc_train=None,
                                                                 model=Ridge(alpha=1.0,
                                                                             copy_X=True,
                                                                             fit_intercept=True,
                                                                             max_iter=None,
                                                                             normalize=False,
                                                                             random_state=None,
                                                                             solver='auto',
                                                                             tol=0.001))),
                                                ('est2',
                                                 EstTransformer2(model=Pipeline(memory=None,
                                                                                steps=[('drop_test',
                                                                                        SplitSelectData(en...
                                                                                                              max_leaf_nodes=None,
                                                                                                              min_impurity_decrease=0.0,
                                                                                                              min_impurity_split=None,
                                                                                                              min_samples_leaf=1,
                                                                                                              min_samples_split=2,
                                                                                                              min_weight_fraction_leaf=0.0,
                                                                                                              presort='deprecated',
                                                                                                              random_state=None,
                                                                                                              splitter='best'))],
                                                                                verbose=False)))],
                              transformer_weights=None, verbose=False)),
                ('model',
                 LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [50]:
y_pred = blend_model.predict(X_test)

In [51]:
mse(y_test, y_pred, squared=False)

0.04490275178721261

In [52]:
final_data_split = SplitSelectData()
final_galaxy_name_features = Pipeline([('column_select', ColumnSelect('galaxy')), ('one_hot', OneHot()), 
                                       ('train', final_data_split)])
final_test_train_data = pd.concat([data_train.copy(), data_test.copy()])
final_test_train_data = final_galaxy_name_features.fit_transform(final_test_train_data)

In [53]:
final_enc_train = final_galaxy_name_features.named_steps['train'].train_data
final_enc_test = final_galaxy_name_features.named_steps['train'].test_data

In [54]:
final_statistical_features_model = Pipeline([('drop_test', final_data_split), ('drop_galaxy', ColumnDrop('galaxy')), 
                                 ('imp', SimpleImputer(strategy='median')), ('scaler', StandardScaler()),
                                 ('ran_f', GradientBoostingRegressor(random_state=0))])

In [55]:
final_est1 = EstTransformer1(final_enc_train, final_enc_test, Ridge())
final_est2 = EstTransformer2(final_statistical_features_model)

In [56]:
len(final_est2.fit_transform(data_train, data_labels))

3865

In [57]:
final_union = FeatureUnion([('est1', final_est1), ('est2', final_est2)])

In [58]:
final_blend_model = Pipeline([('union', final_union), ('model', LinearRegression(fit_intercept=False))])

final_blend_model.fit(data_train, data_labels)

Pipeline(memory=None,
         steps=[('union',
                 FeatureUnion(n_jobs=None,
                              transformer_list=[('est1',
                                                 EstTransformer1(enc_test=None,
                                                                 enc_train=None,
                                                                 model=Ridge(alpha=1.0,
                                                                             copy_X=True,
                                                                             fit_intercept=True,
                                                                             max_iter=None,
                                                                             normalize=False,
                                                                             random_state=None,
                                                                             solver='auto',
                                                                             tol=0.001))),
                                                ('est2',
                                                 EstTransformer2(model=Pipeline(memory=None,
                                                                                steps=[('drop_test',
                                                                                        SplitSelectData(en...
                                                                                                                  min_samples_split=2,
                                                                                                                  min_weight_fraction_leaf=0.0,
                                                                                                                  n_estimators=100,
                                                                                                                  n_iter_no_change=None,
                                                                                                                  presort='deprecated',
                                                                                                                  random_state=0,
                                                                                                                  subsample=1.0,
                                                                                                                  tol=0.0001,
                                                                                                                  validation_fraction=0.1,
                                                                                                                  verbose=0,
                                                                                                                  warm_start=False))],
                                                                                verbose=False)))],
                              transformer_weights=None, verbose=False)),
                ('model',
                 LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [59]:
final_y_pred = final_blend_model.predict(data_test)

## 13. Optimization Problem.

#### to minimize in scipy use the scipy.optimize.minimize library.

#### check out scipy.optimze.minimize function [here](https://docs.scipy.org/doc/scipy/reference/tutorial/optimize.html)

In [60]:
pot_for_inc = -np.log(final_y_pred + 0.01) + 3 # calculates potential for improvement in index

In [61]:
def likely_increase(X, p=pot_for_inc):
    return -sum(X * p**2 /1000) # calculates total likely increase in index. 
    #the minus sign is because we want to maximize the function since minimizing -a is same as maximizing a.

In [62]:
s_imp = SimpleImputer(strategy='median')

In [63]:
# drops the galaxy column since we can't imputation can't work with string
data_test_copy = data_test.copy().drop('galaxy', axis=1)
cols = data_test_copy.columns # store the columns names excluding that of galaxy.
data_test_copy = s_imp.fit_transform(data_test_copy) # imputates
data_test_copy = pd.DataFrame(data_test_copy, columns=cols) # converts to dataframe

# filters rows with existence expectancy index < 0.7
low_eei = data_test_copy[data_test_copy['existence expectancy index'] < 0.7]

In [64]:
data_test_copy2 = data_test_copy.sort_values(by='existence expectancy index') # sorts df by existence expectancy index

# check if original testing data set has top rows coresponding to rows with existence expectancy index < 0.7
sum(data_test_copy.loc[:len(low_eei) - 1, 'existence expectancy index'] == low_eei['existence expectancy index'])

66

In [65]:
boundary = Bounds([0]*890, [100]*890) # creates boundary constraint of 0 <= x <= 100
constraint1 = LinearConstraint([1]*890, [50000], [50000]) # creates constraint of sum(x) = 50,000

# create constraint of sum(extra energy of galaxies with existence expectancy index < 0.7) >= 10% 0f 50,000
constraint2 = LinearConstraint([1]*66 + [0]*824, [5000], [np.inf])

In [66]:
X0 = np.array([100]*66 + [52]*800 + [75]*24) # initial optimized extra energy guess

In [67]:
res = minimize(likely_increase, X0, method='nelder-mead', constraints=[constraint1, constraint2],
               bounds=boundary, options={'verbose': 1, 'disp': True}) # optimizes

Warning: Maximum number of function evaluations has been exceeded.

In [68]:
opt_pred = res.x # stores optimal extra energy
-res.fun # checks maximum sum of likely increase in index

1607.2346228528634

In [ ]:
solution1 = pd.DataFrame({'Index': data_test.index, 'pred': y_pred, 'opt_pred': opt_pred}) # stores solution as df
solution1

In [ ]:
solution1.to_csv('./Documents/prohack_dataset/solution1.csv') # stores solution to disk as csv file to be submitted!